body {
    background-color: #7F8C8D;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f028;
    padding: 5px;
    text-align: center;
}

h1 {
    font-size: 1em;
}

main {
    /* padding: 15px; */
    margin-left: 20px;
    margin-right: 20px;
}

section {
    margin-bottom: 20px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.traders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.inventory-item {
    border-radius: 20px;
    background-color: #B2BABB;
    border: 3px solid #ccc;
    padding: 10px;
    width: 100;
    box-sizing: border-box;
    text-align: center;
}
.trader {
    border-radius: 20px;
    background-color: #B2BABB;
    border: 3px solid #ccc;
    padding: 10px;
    width: calc(20% - 20px);  /* Adjust spacing based on border width */
    box-sizing: border-box;
    text-align: center;
}

.inventory-item img {
    border-radius: 10px;
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.trader img {
    border-radius: 10px;
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.trader-item {
    margin-top: 10px;
}

.trader-item img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

h3,p {
    margin-bottom: 5px;
}
